<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/fragments :: head}"></head>

<body class="bkgrd">
	<th:block th:replace="~{fragments/navbar :: navbar('pizzas')}"></th:block>

	<div th:object="${thisPizza}" class="container my-4">
		<div class="row d-flex justify-content-evenly">
			<div class="col-lg-4 col-md-6 col-12 d-flex justify-content-center text-center">
				<div class="card mb-4 border border-2" style="width: 18rem;">
					<img th:src="|../${thisPizza.photoUrl}|"
						class="card-img-top bkcolor h-100 border border-secondary-subtle" alt="...">
					<div class="card-body bkcolor">
						<p class="card-text text-light">[[*{capName}]]</p>
					</div>
					<div class="card-body bkcolor border-top">
						<p class="card-text text-light">[[*{description}]]</p>
					</div>
					<div class="card-body bkcolor border-top">
						<p class="card-text text-light">[[*{price}]]€</p>
					</div>
					<div class="d-flex justify-content-center card-body bkcolor border-top">
						<button class="btn btn-warning mx-2 border border-1 border-light" type="submit">
							<a class="text-reset text-decoration-none" th:href="@{edit/{id}(id=*{id})}">Edit</a>
						</button>

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-danger mx-2 border border-1 border-light"
							data-bs-toggle="modal" data-bs-target="#delete-modal">
							Delete
						</button>

						<!-- Modal -->
						<div class="modal fade" id="delete-modal" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="delete-modalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered text-light">
								<div class="modal-content bkcolor">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="delete-modalLabel">Eliminare [[*{name}]]?
										</h1>
										<button type="button" data-bs-theme="dark" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										L'eliminazione è definitiva e non potrà essere annullata
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-warning border border-light"
											data-bs-dismiss="modal">Back</button>
										<form th:action="@{'/pizzas/delete/{id}' (id=*{id})}" method="post">
											<button class="btn btn-danger mx-2 border border-1 border-light"
												type="submit">Delete</button>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script th:replace="~{fragments/fragments :: scripts}"></script>
</body>

</html>